# Minimalistic .gitignore
#
# Project contributors: clean with ./clean.sh, do not rely on .gitignore

# exe files
bin\*
bin/*
*.exe


# Object files
*.o
*.obj
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

#preprocessor

fcpp
*.obj
*.out

# Libraries
*.a
*.la
*.lo
*.lib
*.lai
*.def
*.exp
*.slo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Logs
*.log

# Executables
a.out

# Other
.DS_Store
*.dSYM
.*.swp
.*.swa

# Autotools
.deps
.dirstamp
autom4te.cache
Makefile
config.h
config.status
config.log
stamp-h1
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About